.jumbotron {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-family: 'Pacifico', cursive;
}

.banner, .scores {
    text-align: center;
    margin: 1%;
}

.score, .high-score {
    width: 50%;
}